html>body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #ebebeb;
}

#kFloadingMask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 8000;
	background-color: white;
}

#kFloadingText {
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 2px;
	z-index: 8001;
	height: 50px;
	margin: -35px 0 0 -30px;
}

#teian-content {
	float: left;
	background-color: #ffffff;
	margin: 10 0 0 5;
	border: 2px solid black;
	height: 80%;
	overflow-y: auto;
	padding: 10px;
}

#teian-vocabulary-menu {
	float: left;
	height: 80%;
	width: 150px;
	font-size: 0.75em;
/* 	overflow-y: auto; */
}
