ins, del {
  display: inline;
}

ins, del {
  margin-left: 1px;
  margin-right: 1px;
}

ins *, del * {
  background-color: inherit;
}

.change-selection {
  border: 3px solid black;  
}

#changes-container {
  float: left;
  margin-top: 3px;   
  width: 180px;
  border: 1px solid black; 
  font-size: 9px;
}

#track-changes-toolbar {
  text-align: center;
}

#changes-container-title {
  text-align: center;
  font-size: 12px;
  color: blue;
  font-weight: bold;
}

.change-container {
  border-bottom: 1px solid black;  
}
