ins,del {
	display: inline;
}

ins,del {
	margin-left: 1px;
	margin-right: 1px;
}

ins *,del * {
	background-color: inherit;
}

.change-selection {
	border: 3px solid black;
}

#changes-container {
	float: left;
	margin-top: 10px;
	width: 17%;
	border: 1px solid black;
	font-size: 9px;
	background-color: #ffffff;
}

#track-changes-toolbar {
	text-align: center;
	margin-bottom: 5px;
}

#changes-container-title {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

.change-container {
	border-bottom: 1px solid black;
}

.change-summary-title {
	font-style:italic;
}

.change-summary-author {
	width: 100%;
}