<?xml version="1.0" encoding="UTF-8"?>
<teian:configuration xmlns:teian="http://kuberam.ro/ns/teian">
  <!--list of ui languages -->
  <teian:ui-languages>
    <teian:lang code="en-US" />
    <teian:lang code="fr-FR" />
  </teian:ui-languages>
  <teian:content-processing-files>
    <teian:file css-href="../config/vocabularies/docbook/css/driver.css" menus-href="../config/vocabularies/docbook/menus/menus.xml" annotators-href="../config/vocabularies/docbook/annotators/docbook-annotators.xml">
      <teian:content-root-element-name>{http://docbook.org/ns/docbook}book</teian:content-root-element-name>
      <teian:content-root-element-name>{http://docbook.org/ns/docbook}assembly</teian:content-root-element-name>
      <teian:content-root-element-name>{http://docbook.org/ns/docbook}bookmap</teian:content-root-element-name>
      <teian:content-root-element-name>{http://docbook.org/ns/docbook}topic</teian:content-root-element-name>
    </teian:file>
    <teian:file css-href="../config/vocabularies/TEI/css/tei.css" menus-href="../config/vocabularies/TEI/menus/menus.xml" annotators-href="../config/vocabularies/TEI/annotators/TEI-annotators.xml">
          <teian:content-root-element-name>{http://www.tei-c.org/ns/1.0}TEI</teian:content-root-element-name>
    </teian:file>
    <teian:file css-href="../config/vocabularies/xliff/css/xliff.css" menus-href="../config/vocabularies/xliff/menus/menus.xml" annotators-href="../config/vocabularies/xliff/annotators/xliff-annotators.xml">
          <teian:content-root-element-name>{urn:oasis:names:tc:xliff:document:1.2}xliff</teian:content-root-element-name>
    </teian:file>
  </teian:content-processing-files>
</teian:configuration>